<div class="row">
    {{> navigation}}
    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Cuentas Corrientes</h1>
            <div>
                <a href="/cliente/listado" class="btn btn-success btn-sm">Listado de Clientes</a>
                <a href="/venta/registrar" class="btn btn-outline-secondary btn-sm"> Volver a Ventas</a>
            </div>
        </div>

        {{#if varMensaje}}
        <div class="alert alert-{{varEstiloMensaje}} alert-dismissible fade show" role="alert">
            <ul class="mb-0 list-unstyled">
                {{#each varMensaje}}
                <li>{{this.msg}}</li>
                {{/each}}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {{/if}}

        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5 class="card-title mb-0"> Lista de Cuentas Corrientes </h5>
            </div>
            <div class="card-body">
                <div class="table-responsive"> 
                    <table id="tablaCuentaCorriente" class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Cliente</th>
                                <th>Telefono</th>
                                <th>Deuda</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each paramListadoCuentaCorriente}}
                            <tr>
                                <td>#{{this.id_cliente}}</td>
                                <td><span class="badge bg-primary">{{this.nombre}} - {{this.dni}}</span></td>
                                <td>{{this.telefono}}</td>
                                <td><span class="badge bg-{{#if (eq this.saldo_pendiente 0)}}success{{else}}danger{{/if}}">${{this.saldo_pendiente}}</span></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-2.0.8/datatables.min.js"></script>
<script src="/js/venta.js"></script>