<div class="row">
    {{> navigation}}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Productos</h1>
            <a href="/producto/registrar" class="btn btn-success btn-sm"> Registrar Producto </a>
        </div>

        {{#if varMensaje}}
        <div class="alert alert-{{varEstiloMensaje}} alert-dismissible fade show" role="alert">
            <ul class="mb-0 list-unstyled">
                {{#each varMensaje}}
                <li>{{this.msg}}</li>
                {{/each}}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {{/if}}

        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5 class="card-title mb-0">Lista de Productos </h5>
            </div>
            <div class="card-body">
                Agregar Stock
                <hr>
                <div class="table-responsive"> 
                    <table id="tablaProductos" class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Codigo Barras</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Proveedor</th>
                                <th>Observaciones</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each paramProducto}}
                            <tr>
                                <td>{{this.id_producto}}</td>
                                <td>{{this.nombre}}</td>
                                <td>
                                    <span class="badge {{#if (eq this.tipoProducto 'Carniceria')}}bg-danger{{else}}bg-primary{{/if}}">
                                        {{this.tipoProducto}}
                                    </span>
                                </td>
                                <td>{{this.cod_barra}}</td>
                                <td>${{this.precio_unitario}}</td>
                                <td>
                                    <span class="badge {{#if (gt this.stock 10)}}bg-success{{else if (gt this.stock 5)}}bg-warning{{else}}bg-danger{{/if}}">
                                        {{this.stock}}
                                    </span>
                                </td>
                                <td>{{this.rel_proveedor_producto.nombre}}</td>
                                <td>{{this.observacion}}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a href="/producto/modificar/{{this.id_producto}}" class="btn btn-warning" title="Editar">Modificar</a>
                                        <a href="/producto/eliminar/{{this.id_producto}}" class="btn btn-danger" title="Eliminar">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-2.0.8/datatables.min.js"></script>
<script src="/js/producto.js"></script>