<div class="row">
    {{> navigation}}
    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Pagos</h1>
            <a href="/compra/lista" class="btn btn-success btn-sm">
                <i class="bi bi-plus-circle"></i> Volver
            </a>
        </div>

        {{#if varMensaje}}
        <div class="alert alert-{{varEstiloMensaje}} alert-dismissible fade show" role="alert">
            <ul class="mb-0 list-unstyled">
                {{#each varMensaje}}
                <li>{{this.msg}}</li>
                {{/each}}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {{/if}}

        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5 class="card-title mb-0">
                    <i class="bi bi-truck"></i> Listado de Pagos
                </h5>
            </div>
            <div class="card-body">
                <div class="table-responsive"> 
                    <table id="tablaPagosProveedores" class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Compra</th>
                                <th>Monto</th>
                                <th>Fecha</th>
                                <th>Metodo de Pago</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each paramListadoPagosProveedores}}
                            <tr>
                                <td><span class="badge bg-primary">{{this.nombre_proveedor}} | {{this.fecha_compra}}</span></td>
                                <td>${{this.monto}}</td>
                                <td>{{this.fecha}}</td>
                                <td>{{this.metodo_pago}}</td>
                                <td>{{this.observaciones}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{#if montoPendiente    }}
                    <div class="d-grid gap-2 mt-3">
                        <a href="/compra/pagos/registrar/{{this.idCompra}}" class="btn btn-primary">Registrar Pago</a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-2.0.8/datatables.min.js"></script>
<script>
    let tabla;
    $(document).ready(function() {
        // Inicializa DataTables en tu tabla con el ID "tablaProveedore"
        tabla = $('#tablaPagosProveedores').DataTable({
            // Opciones de idioma para español
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            }
        });
    });
</script>
