<div class="row">
    {{> navigation}}
    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Pagos</h1>
            <a href="/venta/listado" class="btn btn-success btn-sm">Volver</a>
        </div>

        {{#if varMensaje}}
        <div class="alert alert-{{varEstiloMensaje}} alert-dismissible fade show" role="alert">
            <ul class="mb-0 list-unstyled">
                {{#each varMensaje}}
                <li>{{this.msg}}</li>
                {{/each}}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {{/if}}

        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5 class="card-title mb-0"> Listado de Pagos</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive"> 
                    <table id="tablaPagosVentas" class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Venta</th>
                                <th>Monto</th>
                                <th>Fecha</th>
                                <th>Metodo de Pago</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each paramListadoPagosVentas}}
                            <tr>
                                <td><span class="badge bg-primary">{{this.cliente_nombre}} | {{this.fecha_venta}}</span></td>
                                <td><span class="badge bg-success">${{this.monto_pago}}</span></td>
                                <td>{{this.fecha}}</td>
                                <td>{{this.metodo_pago}}</td>
                                <td>{{this.observaciones}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{#if saldo_pendiente}}
                    <div class="d-grid gap-2 mt-3">
                        <a href="/venta/pago/registrar/{{this.id_venta}}" class="btn btn-primary">Registrar Pago</a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-2.0.8/datatables.min.js"></script>
