{{#if varMensaje}}
<div class="position-fixed" style="z-index: 8 ; margin-top: 80px;">
    <div class="d-flex justify-content-center">
        <div class="alert alert-{{varEstiloMensaje}} shadow text-center position-fixed top-0 start-50 translate-middle-x" 
            style="min-width: 300px; max-width: 600px; backdrop-filter: blur(6px); background-color: rgba(255,255,255,0.9); margin-top: 80px;">
        <ul class="mb-0 list-unstyled">
            {{#each varMensaje}}
            <li>{{this.msg}}</li>
            {{/each}}
        </ul>
        </div>
    </div>
</div>
{{/if}}
<div class="d-flex justify-content-center align-items-center vh-100 shadow">
    <div class="card shadow p-4 w-75 d-flex flex-column m-3">
        <div class="card-header bg-dark text-white text-center my-3">
            <h3 clas="mb-0">PROVEEDORES</h3>
        </div>
        <table id="tablaProveedores" class="table table-striped table-bordered datatable w-100 shadow">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>Rubro</td>
                    <td>Telefono</td>
                    <td>Tipo Producto</td>
                    <td>Observaciones</td>
                    <td>Funciones</td>
                </tr>
            </thead>
            <tbody>
                {{#each paramListadoProveedores}}
                <tr>
                    <td>{{this.id_proveedor}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.tipo_rubro}}</td>
                    <td>{{this.num_tel}}</td>
                    <td>{{this.tipo_producto}}</td>
                    <td>{{this.observaciones}}</td>
                    <td>
                        <a href="/proveedor/modificar/{{this.id_proveedor}}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="/proveedor/eliminar/{{this.id_proveedor}}" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que quieres eliminar este proveedor?');">Eliminar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="/proveedor/registrar" class="btn btn-success btn-sm">Registrar</a>
    </div>
</div>
